* {
    margin: 0;
}

/* .body {
    background-color: black;
} */

.container{
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto;
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    /* margin: 50px auto; */
    border: 1px solid #c0c0c0;
    /* as we have gieven width as 100 vw and border too, so we are making box-size as border
    box so that it will strickly stick to entire available width
    */
    box-sizing: border-box;
}

.head-row {
    /* grid-column: 1/3; */
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.head-row .col-head {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #c0c0c0;
}

.serialNo {
    position: sticky;
    left: 0;
    background-color: #fff;

}

.serialNo .sno-cell {
    height: 30px;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.plate {
    background-color: gray;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2
}

.row {
    display: flex;
}

.cell {
    border: 1px solid #c0c0c0;
    width: 150px;
    height: 30px;
    overflow: hidden;
    overflow-y: scroll;
    font-family: normal;
    font-style: normal;
}

.options {
    background-color: #F8FBFD;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    padding: 10px;
    margin: 0 30px;
    background-color: #EDF2FA;
    border-bottom: 50px;
    align-items: center;
}

.fr-aic {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="checkbox"], input[type="radio"]{
    display: none;
}
input[type="color"] {
    width: 0;
    height: 0;
    /* solution 1 to hide */
    /* border: none;
    background-color: #EDF2FA; */
    /* solution 2 to hide */
    visibility: hidden;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    background-color: #D3E2FD;
}


label {
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.box {
    width: 80vw;
    margin: auto;
}

.box input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 50px;
    border-width: 1px;
}

.box .selected-cell {
    background-color: #D3E2FD;
    padding: 5px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.active-cell {
    border: 1px solid #0957D0;
}